$ORIGIN .
$TTL 3600	; 1 hour
{{ in_addr_arpa }}	IN SOA	labadm01.cblab.local. root.cblab.local. (
				2021092309 ; serial
				900        ; refresh (15 minutes)
				600        ; retry (10 minutes)
				86400      ; expire (1 day)
				3600       ; minimum (1 hour)
				)
			NS	labadm01.cblab.local.
$ORIGIN {{ in_addr_arpa }}.
{{ ip_arpa_address }}			PTR	labadm01.cblab.local.
